RewriteEngine On

# TRANG CHỦ
RewriteRule ^([a-zA-Z0-9_-]+).html$ ?mod=home&controller=index&action=index
# SẢN PHẨM
RewriteRule ^san-pham/([a-zA-Z0-9_-]+).html$ index.php?mod=products&controller=index&action=all
# TIN TỨC
RewriteRule ^tin-tuc/([a-zA-Z0-9_-]+).html$ index.php?mod=post&controller=index&action=index
# GIỚI THIỆU
RewriteRule ^trang/gioi-thieu([a-zA-Z0-9_-]+).html$ index.php?mod=pages&controller=index&action=about
# LIÊN HỆ 
RewriteRule ^trang/lien-he([a-zA-Z0-9_-]+).html$ index.php?mod=pages&controller=index&action=contact
# DETAIL PRODUCT
RewriteRule ^san-pham/chi-tiet/([0-9]+)-([a-zA-Z0-9_-]+).html$ ?mod=products&controller=index&action=detail&id=$1&name=$2
# SẢN PHẨM THEO DANH MỤC
RewriteRule ^danh-muc/([0-9]+)-([a-zA-Z0-9_-]+).html$ ?mod=products&controller=index&action=index&id=$1&category_name=$2
# DETAIL POST
RewriteRule ^tin-tuc/chi-tiet/([0-9]+)-([a-zA-Z0-9_-]+).html$ ?mod=post&controller=index&action=detail&id=$1&name=$2
# CART
RewriteRule ^gio-hang/([a-zA-Z0-9_-]+).html$ ?mod=cart&controller=index&action=index
RewriteRule ^thanh-toan/([a-zA-Z0-9_-]+).html$ ?mod=cart&controller=checkout&action=index
RewriteRule ^don-mua/([0-9]+)-thanh-toan.html$ ?mod=cart&controller=checkout&action=add&id=$1
RewriteRule ^gio-hang-([0-9]+)/don-mua.html$ ?mod=cart&controller=index&action=add&id=$1
